div(class="row form form-estimate align-center m-b2")
  p(class="small-12 fs-30 bold center") ОЦЕНКА ВАШЕГО ИНТЕРНЕТ - ТРАФИКА
  p(class="small-12 fs-30 text-green bold center m-b") Оставайтесь на странице!
  div(class="row small-4")
    div(class="column")
      p(class="fs-24 bold") Статус оценки
      img(src="")
  div(class="row small-8")
    div(class="column")
      p(class="fs-24 bold m-b") Результат оценки
      p(class="fs-24 text-green bold m-b") Покупателей трафика подобрано
      p(class="lx-label ux-buyers m-b center" id="estimate-buyers") в обработке . . .
      p(class="fs-24 text-green bold m-b") Ваш потенциальный доход
      p(class="lx-label ux-income m-b center" id="estimate-income") в обработке . . .

p(class="fs-24 bold center" id="estimate-counter") До завершения осталось: 60 секунд

button(class="button orange hidden p-10-25 m-center center" id="estimate-finish" style="max-width: 500px") Продать интернет трафик