div(class="header row align-justify collapse")

  img(class="column shrink" src="images/logo.png" alt="Money")

  div(class="column shrink flex-container flex-dir-column align-center")
    p(class="lx-buyers m-b")
      span(class="header-buyers_text") Покупателей трафика на базе
      span(class="header-buyers_count bold text-green") 532 258
    p(class="lx-earned bold")
      span(class="header-earned_text") Сегодня заработано: 
      span(class="header-earned_count text-green") 4 698 851 РУБ
