doctype html

html(lang="ru")

	head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Money
    link(rel="stylesheet", href="index.css")

	body

		//- Содержание страницы
		block content

