doctype html

html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Money
    link(rel="stylesheet" href="foundation.css")
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans")

  body

    block content

    script(src="index.js")
