div(class="row form form-estimate flex-dir-column align-middle m-b2")
  p(class="fs-30 bold center") ПРОДАЖА ВАШЕГО ИНТЕРНЕТ - ТРАФИКА
  p(class="fs-30 text-green bold center m-b") Оставайтесь на странице!
  img(src="")
  p(class="bold fs-24") Переходы на сайты покупателей трафика
  p(class="m-b2 fs-60 bold green-text") 16385
  p(class="bold fs-24" id="sell-counter") До завершения осталось: 60 секунд