.button
  border-radius: 35px
  color: $white
  text-transform: uppercase

  &.green
    background: $green

  &.orange
    background: $orange

  &.traffic
    padding: 27px 48px

  &.no-transform
    text-transform: none

  &.square
    border-radius: 0

.show-more
  background: $white
  border: 0
  cursor: pointer
  outline: none
  text-decoration: underline