.form
  
  input, textarea
    border: none
    border-radius: 10px
    font-size: 18px
    outline: none

  .lx-input
    max-width: 510px
    width: 100%

.form-session
  background: $light_blue
  border-radius: 5px
  max-width: 700px
  padding: 30px 55px
  width: 100%

.form-comments
  background: $light_blue
  border-radius: 5px
  max-width: 1030px
  padding: 20px 20px 40px
  width: 100%

.form-estimate
  background: $light_blue
  border-radius: 20px
  padding: 20px

  .lx-label
    background: $white
    border-radius: 30px
    padding: 20px 35px

    &.green
      background: $green
      color: $white

