.header
  margin-top: 15px
  margin-bottom: 27px

  &-stat

    > .lx-earned
      margin-top: 10px

  &-buyers

    &_text
      margin-left: -4px

    &_count
      font-size: 24px
      margin-left: 31px

  &-earned

    &_text
      font-size: 24px
      letter-spacing: .6px

    &_count
      font-size: 36px
      margin-left: 13px
      letter-spacing: .2px

.copyright
  padding: 40px 0