.img-hands
  max-width: none
  transform: translateY(-50px)

.img-lamp
  transform: translateY(-100px)

.img-boy
  max-width: none
  transform: translateX(-105px) translateY(65px)

.img-boy-2
  // transform: translateY(55px)