.popups
  align-items: center
  background: $blue
  bottom: 0
  display: flex
  justify-content: center
  left: 0
  position: fixed
  right: 0
  top: 0

  .popup
    display: flex
    flex-direction: column
    max-width: 800px
    position: absolute
    width: 100%