p
  line-height: 1
  font-size: 24px
  color: $dark_blue

.text-green
  color: $green

.text-orange
  color: $orange

.right
  text-align: right

.left
  text-align: left

.center
  text-align: center

.m-center
  margin: 0 auto

.bold
  font-weight: bold

.fs-14
  font-size: 14px

.fs-16
  font-size: 16px

.fs-18
  font-size: 18px

.fs-24
  font-size: 24px

.fs-30
  font-size: 30px

.fs-36
  font-size: 36px

.fs-48
  font-size: 48px

.fs-60
  font-size: 60px

.fs-70
  font-size: 70px

.fs-80
  font-size: 80px

.fs-95
  font-size: 95px

.p-5
  padding: 5px