$blue: #c3d0f3
$green: #349b63
$orange: #f79556
$white: #ffffff
$black: #000000
$dark_blue: #495763
$light_blue: #d2dbf6

*
  padding: 0
  margin: 0
  box-sizing: border-box

html, body
  height: 100%

body
  font: 18px 'PT Sans'
  background: $blue
  overflow-x: hidden

.bg-white
  background: $white

.m-b
  margin-bottom: 1rem

.m-b2
  margin-bottom: 2rem

.no-scroll
  overflow: hidden

.hidden
  display: none !important

@import 's-partials/text'
@import 's-partials/header'
@import 's-partials/buttons'
@import 's-partials/images'
@import 's-partials/form'
@import 's-partials/paddings'
@import 's-partials/comments'
@import 's-partials/popups'